# .gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.sublime-project
*.sublime-workspace
*.tm_properties

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Databases
*.sqlite

# Distribution
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment configuration
.env
*.png
*.out
start.txt
speakers.txt